body{
    margin-top: 2%;
    margin-left: 1%;
}


.toolbar{
    display: flex;
    justify-content: space-between;
}

.page-title{
    background-color: yellowgreen;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 0.3%;
}

.page-title-text{
    margin-left: 1%;
    font-size: 20px;
}

.page-container{
    display: flex;
}

.page-container > nav{
    width: 12%;
    background-color: olive;
}

.menu-title {
    display: flex;
    justify-content: center;
    color: white;
  }

ul > li{
    background-color: blanchedalmond;
}
.menu-container{
    
}

main{
    width: 100%;
}

.list{
    background-color: #F2F2F2;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.card-item{
    display: flex;
    flex-flow: column;
    width: 23%;
    height: 40%;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border-radius: 2%;
}

.card-item > img{
    width: 50%;
    border-radius: 50%;
}

